<h1>Show Transaction</h1>

<ul>
  <li>
    <strong>Destination Account:</strong>
    <%= @transaction.iban %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @transaction.amount %>
  </li>

  <li>
    <strong>Made at:</strong>
    <%= @transaction.inserted_at %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.transaction_path(@conn, :edit, @transaction) %></span>
<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
